#frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    iframe {
        z-index: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        border: none;
    }

    .links {
        position: fixed;
        top: 0;
        right: 0;
        padding: 0 24px;
        height: 48px;
        line-height: 48px;
    }

    .incompatible {
        z-index: -1;
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div {
            width: 300px;
            font-size: smaller;
            color: #aaa;
        }
    }

    .loading {
        z-index: -1;
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
